body {
  margin: 0;
}

.page {
    position: absolute;
    opacity: 0;
    width: 100%;
}

.nav {
  position: fixed;
  margin: 0;
  background-color: #48CCCD;
  z-index: 3;
  width: 100%;
  height: 20%;
  opacity: 0.8;
}

.nav li {
  display: inline;
}

.nav a {
  width: 15%;
  height: 50%;
  display: inline;
  font-weight: bold;
  font-size: 24px;
  padding: 0.5em;
  max-width: 1200px;
  margin: 0, auto;
  z-index: 4;
  color: white;
  
}


#home {
  text-align: center;
  height: 100%;
}

#home #home_content_1 {
  color: #0033FF;
  text-align: center;
  width: 100%;
  margin: 10px;
  background: url('http://2.bp.blogspot.com/-Kqg07c5CFFA/UNX-ulFzniI/AAAAAAAASeI/1rlj1XR5qBg/s1600/colorblock+chevron+pattern+blue+sky.jpg') repeat;
  opacity: .9;
}

#home h1 {
  size: 6.8em;
}

#home h2 {
  size: 4.8em;
}

#home h3 {
  size: 2.8em;
}
/*
#home_content_1 {
  height: 600px;
  background: black;
  background: url('http://2.bp.blogspot.com/-Kqg07c5CFFA/UNX-ulFzniI/AAAAAAAASeI/1rlj1XR5qBg/s1600/colorblock+chevron+pattern+blue+sky.jpg') repeat;
  opacity: .9;
}*/

