body {
  margin: 0;
}

.page {
    position: absolute;
    opacity: 0;
    width: 100%;
}

#nav {
  color: #458fff;
  margin-bottom: auto;
  width: 100%;
  height: 20%;
  text-align: center;
  
}

#nav li {
  display: inline;
  color: white;
  padding: 10px;
  background-color: gray;
  border: black, 10px;
}

#main h1 {
  size: 40px;
  color: pink;
  background-color: blue;
}

