body {
  margin: 0;
}

.page {
    position: absolute;
    opacity: 0;
    width: 100%;
}
/*---------NAVIGATION BAR-----------------*/

.nav li {
  display: inline;
}

.nav {
  position: fixed;
  margin: 0;
  background: #48CCCD;
  z-index: 3;
  width: 100%;
  opacity: 0.8;
}

.nav a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: inline;
  padding: 0.5em;
  max-width: 1200px;
  margin: 0, auto;
  z-index: 4;
  color: white;
}

.nav .pull-left {
  float: left;
  margin: 0px;
  color: orange;
  font-weight: bold;
  line-height: .45em;
  font-size: 6em;
}

.nav .pull-right {
    float: right;
    margin-right: 25px; /*set margin this way in your custom styesheet*/
}
  
.main {
  text-align: center;
  padding-top: 1.5em;
  height: 50px;
}

.main #home_content_1 {
  background-color: grey;
  text-align: center;
  width: 100%;
  margin: 10px;
  opacity: .9;
}

.home h1 {
  size: 6.8em;
}

.home h2 {
  size: 4.8em;
}

.home h3 {
  size: 2.8em;
}
/*
#home_content_1 {
  height: 600px;
  background: black;
  background: url('http://2.bp.blogspot.com/-Kqg07c5CFFA/UNX-ulFzniI/AAAAAAAASeI/1rlj1XR5qBg/s1600/colorblock+chevron+pattern+blue+sky.jpg') repeat;
  opacity: .9;
}*/

