body {
  margin: 0;
}

.page {
    position: absolute;
    opacity: 0;
    width: 100%;
}

#nav {
  position:absolute;
  color: #458fff;
  margin-bottom: auto;
  width: 100%;
  height: 20%;
  text-align: center;
  
}

#nav li {
  display: inline;
  color: white;
  padding: 10px;
  background-color: gray;
  border: black, 10px;
}

#main {
  color: blue;
  padding: 10px;
}

#main h1 {
  size: 60px;
  color: lime green;
}

#main h2 {
  size: 40px;
  color: #FF3399;
  text-align: center;
}

#main h3 {
  size: 20px;
  color: #FFCC33;
}

