body {
  margin: 0;
}

.page {
    position: absolute;
    opacity: 0;
    width: 100%;
}

#nav {
  background-color: #458fff;
  width: 100%;
  height: 20%;
  text-align: center;
  
}

#nav li {
  width: 15%;
  display: inline-block;
  padding: 0.8em;
  background-color: gray;
  border: white 2px;
}

#main {
  color: #0033FF;
  text-align: center;
  width: 100%;
  background-color: CC6666;
  margin: 10px;
}

#main h1 {
  size: 6.8em;
}

#main h2 {
  size: 4.8em;
}

#main h3 {
  size: 2.8em;
}

