body {
  margin: 0;
}

.page {
    position: absolute;
    opacity: 0;
    width: 100%;
}

#nav {
  position: absolute;
  color: #458fff;
  margin-bottom: auto;
  width: 100%;
  height: 20%;
  text-align: center;
  
}

#nav li {
  display: inline;
  color: white;
  padding: 10px;
  background-color: gray;
  border: black, 10px;
}

#main {
  color: #0033FF;
  text-align: center;
  width: 100%;
  background-color: CC6666;
  margin: 25%;
}

#main h1 {
  size: 6.8em;
}

#main h2 {
  size: 4.8em;
}

#main h3 {
  size: 2.8em;
}

