body {
  margin: 0;
}

.page {
    position: absolute;
    opacity: 0;
    width: 100%;
}
/*---------NAVIGATION BAR-----------------*/

.nav li {
  display: inline;
}

.nav {
  position: absolute;
  margin: 0;
  background: #48CCCD;
  z-index: 3;
  width: 100%;
}

.nav a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: inline;
  padding: 0.3em;
  max-width: 1200px;
  margin: 0, auto;
  z-index: 4;
  color: white;
}

.nav .pull-left {
  float: left;
  margin: 0px;
}

.nav span {
  font-size: 1000px;
  color: orange;
  font-weight: bold;
  line-height: .45em;
}

.nav .pull-right {
  float: right;
  margin-right: 25px; /*set margin this way in your custom styesheet*/
}


/*-----------------MAIN-----------------*/
  
.main {
  position: static;
  text-align: center;
  padding: 5em;
  height: 10000px;
  background-image:url('http://thumbs.dreamstime.com/x/crazy-summer-orange-teal-damask-background-14702403.jpg');
  opacity: 0.8;
}

.main #home_content_1 {
  text-align: center;
  width: 100%;
  margin: 10px;
  opacity: .9;
  font-weight: bold;
}
/*
.home h1 {
  size: 6.8em;
}

.home h2 {
  size: 4.8em;
}

.home h3 {
  size: 2.8em;
}
/*
#home_content_1 {
  height: 600px;
  background: black;
  background: url('http://2.bp.blogspot.com/-Kqg07c5CFFA/UNX-ulFzniI/AAAAAAAASeI/1rlj1XR5qBg/s1600/colorblock+chevron+pattern+blue+sky.jpg') repeat;
  opacity: .9;
}*/


/*------------FOOTER--------------*/
.footer {
  background: #48CCCD;
  text-align: center;
  bottom: 0px;
  color: white;
  width: 100%;
  position: absolute;
  clear: both;
  height: 75px;
  padding-top: -200px;
  margin: -50px auto 0 auto;
}

.social-links {
  float: right;
  width:230px;
  margin-right: 20px;
}

.social-links-item {
    float:left;
    height: 10px;
    margin-left: 20px;
    width: 10px;
    z-index: 4;
    margin-right: 10px;
}

a img {
    border: none;
    outline:none;
    height: 40px;
    width: 40px;
    display: inline-block;
    padding: 5px;
    margin-top: 15px;
}
.social-links-item img{
    display:block;
    opacity: 0.6;
    transition: opacity 300ms ease-out 0s;
}
.social-links-item img:hover {
    opacity: 1;
    transition: opacity 300ms ease-out 0s;
} 

.global-footer small {
    top: 25px;
    position: relative;
    display: block;
    width: 359px;
    font-size: 11px;
    margin: 0 auto;
}
