body {
  margin: 0;
}

.page {
    position: absolute;
    opacity: 0;
    width: 100%;
}
/*---------NAVIGATION BAR-----------------*/

.nav li {
  display: inline;
}

.nav {
  position: absolute;
  margin: 0;
  background: #48CCCD;
  z-index: 3;
  width: 100%;
  overflow: hidden;
}

.nav li a.current{
   color: orange;
}

.nav a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: inline;
  padding: 0.3em;
  max-width: 1200px;
  margin: 0, auto;
  z-index: 4;
  color: white;
}

.nav .pull-left {
  float: left;
  margin: 0px;
}

.nav span {
  font-size: 1000px;
  color: orange;
  font-weight: bold;
  line-height: .45em;
  opacity: 0.8;
}

.nav .pull-right {
  float: right;
  margin-right: 25px; /*set margin this way in your custom styesheet*/
}


/*-----------------MAIN-----------------*/
  
.main {
  position: relative;
  text-align: center;
  padding-top: 5em;
  height: 1200px;
  background-image:url('http://thumbs.dreamstime.com/x/crazy-summer-orange-teal-damask-background-14702403.jpg');
}

.main #home_content_1 {
  text-align: center;
  width: 75%;
  /*left: 50%;*/
  opacity: .9;
  font-weight: bold;
  margin-top: 610px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 15px;
  height: 475px;
  /*position: absolute;*/
}

.home h1 {
  size: 6.8em;
}

.home h2 {
  size: 4.8em;
}

.home h3 {
  size: 2.8em;
}

/*------------FOOTER--------------*/
.footer {
  background: #48CCCD;
  color: white;
  width: 100%;
  position: relative;
  height: 15px;
  z-index:3;
  text-align: center;
  /*padding-top:2.5%;
  padding-bottom: 2.5%;*/
  margin: 0;
}

.social-links {
  float: right;
  margin-right: 20px;
  display: inline;
}

.social-links-item {
  float: left;
  height: 10px;
  width: 10px;
  z-index: 4;
  margin-left: 20px;
  margin-right: 20px;
}

a img {
  border: none;
  outline:none;
  height: 40px;
  width: 40px;
  display: inline-block;
  /*padding: 5px;*/
}

.social-links-item img{
  display:block;
  opacity: 0.6;
  transition: opacity 300ms ease-out 0s;
}
.social-links-item img:hover {
  opacity: 1;
  transition: opacity 300ms ease-out 0s;
} 

small {
  display: block;
  width: 359px;
  font-size: 16px;
  position: relative;
  margin: 0 auto;
}

